fastapi==0.78.0
fasteners==0.14.1
jsonschema==4.17.3
simplejson==3.16.0
beautifulsoup4==4.11.1
web3==5.31.3
eth-abi==2.2.0
eth-account==0.5.9
eth-bloom==1.0.4
eth-hash==0.5.1
eth-keyfile==0.5.1
eth-keys==0.3.4
eth-rlp==0.2.1
eth-tester==0.6.0b7
eth-typing==2.3.0
eth-utils==1.10.0
py-geth==3.10.0
pyethash==0.1.27
python-dotenv==0.19.0